<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>StandardErrorPath</key>
		<string>/dev/null</string>
		<key>StandardOutPath</key>
		<string>/dev/null</string>
	</dict>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>squeezelite</string>
	<key>OnDemand</key>
	<false/>
	<key>ProgramArguments</key>
	<array>
		<string>/Applications/Squeezelite.app/Contents/MacOS/Squeezelite</string>
		<string>-a</string>
		<string>100</string>
		<string>-f</string>
		<string>/var/log/Squeezelite.log</string>
		<string>-N</string>
		<string>/var/log/Squeezelite.name</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
